*{
  margin:0;
  padding:0;
}
div{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.banner_picture{
  z-index: 1;
  height: auto;
  width:stretch;
  min-height: 100%;
  min-width: 100%;
  margin-top: -4%;
  margin-right:-10px;
  margin-left:-50px;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.title{
  text-align: center;
  font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
  z-index:1;
  margin: 0 auto;
  font-size: 3em;
  color: #ffff;
  position: absolute;
  left: 0;
  right: 0;
  top:24px;
  max-width: 600px;
}
.wave-container{
  position: relative;
  z-index: 1;
  color: #FFF;
  min-width: 100%;
  margin-top: -20%;
  overflow: hidden;
}
@media only screen and (max-width: 1024px){
  .banner_picture{
    z-index: 1;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto ;
    position: relative;
    margin-left: -512px;
    margin-top: -120px;
    zoom: 50%;
    left: 50px;
    background: url(Higher_40.jpg) no-repeat center center fixed;
  }
  .title{
    background: transparent;
    text-align: center;
    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index:1;
    margin: 0 auto;
    font-size: 3em;
    color: #ffff;
    position: absolute;
    left: 0;
    right: 0;
    top:120px;
    max-width: 600px;
  }
  .wave-container{
    position: relative;
    z-index: 1;
    color: #FFF;
    width: 120%;
    overflow-x: hidden;
    margin-top: -20%;
    left:0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 1360px) and (max-width: 1920px){

}
