*{
  margin:0;
  padding:0;
  height:100%;
}
.banner_picture{
  position: center;
  z-index: 1;
  padding: none;
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100%;
}
.title{
  background: transparent;
  text-align: center;
  font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
  z-index:1;
  margin: 0 auto;
  font-size: 3em;
  color: #ffff;
  position: absolute;
  left: 0;
  right: 0;
  top:150px;
  max-width: 600px;
}
