<div class="container">
  <div class='header'>
    <h3>Who We Are</h3>
  </div>
  <div class="body-container">
    <h4>World Animal Network is a non-profit organization which facilitates adoption by matching potential adopters to rescued animals from all around the world. 
      Our goal is to create an environment where customers and animal-sheltering organizations can establish clearer communication and become actively engaged with the process of adopting a new pet. By instituting global connections, World Animal Network seeks to expand choices and opportunities for animal-lovers by linking them to oversea shelters. 
      We are committed to providing the best customer service and care to individuals who are interested in this animal adoption program. To achieve this, we formed partnerships and reliable relationships with organizations around the world. We hope to promote awareness for animal welfare as a lack of understanding commonly leads to neglected and abused house pets. By linking to other associations, we can achieve much more together than on our own.
      Some of the organizations we are linked with (but are not limited to) include:
    </h4>
    <p id='tabbed'>•	Dream House (China)</p>
    <p id='tabbed'>•	More to come. </p>
  </div>
</div>